/java/testiprojekti/JavaApplication2/nbproject/private/
/java/testiprojekti/JavaApplication2/build/
/java/testiprojekti/TempSens/nbproject/private/
/java/testiprojekti/TempSens/build/
/java/testiprojekti/TempSens/dist/
/java/TempSensServer/nbproject/private/
/java/TempSensClient/nbproject/private/
/java/TempSensClient/build/
/java/TempSensClient/dist/
/java/TempSensServer/dist/
/java/TempSensServer/build/