/java/testiprojekti/JavaApplication2/nbproject/private/
/java/testiprojekti/JavaApplication2/build/
/java/testiprojekti/TempSens/dist/
/java/TempSensServer/build/
/java/TempSensClient/build/
/java/TempSensClient/dist/
/java/testiprojekti/TheTempSensClient/nbproject/private/
/java/testiprojekti/TheTempSensServer/nbproject/private/
/java/testiprojekti/TheTempSensServer/build/
/java/testiprojekti/TheTempSensClient/build/
java/testiprojekti/TempSens/nbproject/private/private.properties
java/testiprojekti/TempSens/nbproject/private/private.properties
java/testiprojekti/TempSens/nbproject/private/private.properties
/java/testiprojekti/TheTempSensClient/dist/
/java/testiprojekti/TheTempSensServer/dist/
/java/testiprojekti/TheTempSensSensor/nbproject/private/
/java/testiprojekti/TheTempSensSensor/build/
/java/testiprojekti/TheTempSensSensor/dist/
/java/testiprojekti/TempSens/Ohjelmistotestaus/nbproject/private/
/java/Ohjelmistotestaus/nbproject/private/
/java/TheTempSensTester/nbproject/private/
/java/TheTempSensTester/build/